.info-container {
    height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-left: 20%;
}

.info-link{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.info-link:hover() {
    color: red;
    opacity: 0.6;
}

.info-link-no-hover:hover {
    color: black;
    opacity: 1;
  }