.about-info{
    display: flex;
    flex-direction: column;
}

.about-image{
    width: 50%;
    height: auto;
}

.about-info-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text{
    text-align: center;
    font-size: large;
    width: 50%;
}