.about-info{
    display: flex;
    flex-direction: column;
}

.about-image{
    width: 50%;
    height: 50vh;
}

.about-info-hero{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.about-text{
    font-size: large;
    width: 50%;
    padding: 30px;
}
