.about-banner{
    position: relative;
    width: 100%;
    height: 65vh;
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 10px;
}
.about-banner-text{
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  }

.about-info{
    display: flex;
    flex-direction: column;
}

.about-imgage{
    width: 50%;
    height: auto;
}

.about-info-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text{
    text-align: center;
    font-size: large;
    width: 50%;
}

.sing-up-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}